<template>
	<div>
		<div id="app">
			<h3>Registro de una persona</h3>
		</div>
		<form>
			<div class="form-group">
				<label for="names">Nombres</label>
				<input v-model="names" type="text" placeholder="Pedro Lopez" required>
			</div>
			<div class="form-group">
				<label for="lastnames">Apellidos</label>
				<input v-model="lastnames" type="text" placeholder="Ramirez Vargaz" required>
			</div>
			<button type="submit" class="btn btn-success" @click="registerPersonDA">
				Registrar
			</button>
		</form>
		<div>
			<br>
			<div class="table-responsive">
				<table class ="table table-bordered table-hover">
					<thead class="thead-light">
						<tr>
							<th>Nombres</th>
							<th>Apellidos</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="(persona, index) of this.$store.state.persons"
							v-bind:key="index">
							<td>{{persona.Nombre}}</td>
							<td>{{persona.Apellido}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</template>

<script>
	import {mapActions, mapState} from 'vuex';
	import * as registerPersonDA from '@/dataAccess/registerPerson.js';

	export default {
		name: 'app',
		...mapState({
			persons: state => state.persons,
			names: state => state.names,
			lastnames: state => state.lastnames,
		}),
		
		methods: {
			...mapActions(['registerPersonDA', 'getPersonsDA']),

			async registerPersonDA(){
				let person = {
					Nombre: this.names,
					Apellido: this.lastnames
				};
				registerPersonDA.registerPerson(person);
				return;
			}
		},
		beforeMount() {
			this.$store.dispatch('getPersonsDA');
		}
	}
</script>

<style>
#app {
	font-family: 'Avenir', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: #2c3e50;
}
</style>